:root {
  /* Tema escuro (padrão) */
  --background-color: #121212;
  --text-color: #ffffff;
  --button-background: #333333;
  --button-background-hover: #6e6e6e;
  --button-text: #ffffff;
  /* --sql-keyword: #eec937; */
  /* --sql-keyword: #ffd60a; */
  --sql-keyword: #6ce0db;
  /* --sql-comment: #909090; */
  --sql-comment: #8e8e93;
  /* --sql-column: #64599e; */
  --sql-column: #5e5ce6;
  --green: #30d158;
  --red: #ff453a;
}

[data-theme="light"] {
  /* Tema claro */
  --background-color: #ffffff;
  --text-color: #000000;
  --button-background: #bebebe;
  --button-background-hover: #777777;
  --button-text: #000000;
  /* --sql-keyword: #d0b344; */
  /* --sql-keyword: #da9732; */
  --sql-keyword: #02bdb4;
  /* --sql-comment: #909090; */
  --sql-comment: #8e8e93;
  /* --sql-column: #64599e; */
  --sql-column: #5856d6;
  --green: #34c759;
  --red: #ff3b30;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

h1,
h2 {
  text-align: center;
}

#title {
  padding: 0 50px;
}

#container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
#graph-container,
#mynetwork {
  width: 100%;
  height: 400px;
  /* border: 1px solid #ddd; */
  margin-bottom: 20px;
}
#sql-output {
  width: 100%;
  /* height: 600px; */
  /* background-color: #d1d1d1; */
  /* border: 1px solid #ddd; */
  overflow-y: scroll;
  /* white-space: pre-wrap; */
  /* padding: 10px; */
}
#search-box {
  width: 95%;
  padding: 10px;
  /* margin-bottom: 20px; */
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 5px;
  border: 1px solid var(--button-background);
  /* border: 0; */
  outline: 0;
}

#search-box > input:focus {
  outline: none !important;
}

.table-list {
  list-style: none;
  padding: 0;
  width: 100%;
  height: 342px;
  overflow-y: scroll;
}
.table-list li {
  margin-bottom: 10px;
}

/* Mídia query para telas maiores (tablets e desktops) */
@media (min-width: 768px) {
  #container {
    flex-direction: row;
  }
  #container > div {
    flex: 1;
  }
}

/* Sobrescrevendo os estilos padrões do Prism.js */

code[class*="language-sql"],
pre[class*="language-sql"],
code,
pre,
.language-sql,
.token {
  /* color: black; */
  background: none;
  background-color: none;
  text-shadow: none;
  color: var(--text-color);
}
/* Palavras reservadas */
.language-sql .token.keyword,
.language-sql .token.operator {
  color: var(--sql-keyword);
  font-weight: bold;
  background: none;
  background-color: none;
  text-shadow: none;
}

/* Comentários */
.language-sql .token.comment,
.language-sql .token.punctuation {
  color: var(--sql-comment);
  font-style: italic;
}
/* Tabelas e Colunas (não há uma classe específica no Prism.js para tabelas e colunas,
       então você teria que criar uma lógica adicional para isso) */
.language-sql .token.column,
.language-sql .token.table {
  color: var(--sql-column);
  font-weight: bold;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
  border-radius: 5px;
  padding: 7px 10px 10px 10px;
  cursor: pointer;
  display: none; /* Inicialmente escondido */
  font-size: 20px;
  transform: rotate(-90deg); /* Gira a seta 90 graus no sentido anti-horário */
}

#back-to-top:hover,
#theme-toggle:hover {
  background-color: var(--button-background-hover);
}

#theme-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  /* font-size: 20px; */
}

.notification {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: var(--green);
  color: var(--text-color);
  border-radius: 5px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
  z-index: 1000;
}

.h-stack {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Centraliza verticalmente os itens */
  gap: 20px; /* Espaçamento entre os elementos da h-stack */
  /* margin-bottom: 20px; */
}

.v-stack {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre os elementos da v-stack */
}

/* Mídia query para telas menores */
@media (max-width: 768px) {
  .h-stack {
    flex-direction: column;
  }
}
#source-code-link {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 7px;
  background-color: var(--button-background);
  color: var(--button-text);
  text-decoration: none;
  border-radius: 5px;
}

#source-code-link:hover {
  background-color: var(--button-background-hover);
}
